*{
    box-sizing: border-box;
}
body{
    height: 90vh;
    background: url(ocean.jpg) no-repeat center center fixed ;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
    background-color: rgb(61, 61, 235);
    width: 500px;
    height: 300px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0.9;
    border-radius: 25px;
    box-shadow: black 0px 0px 20px  ;
    border: solid 2px whitesmoke;
}
.button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 55px;
    width: 250px;
    border-radius: 5px;
    font-size: larger;
    color: rgb(61, 61, 235);
    cursor: pointer;
}
